/*
Author: Bookerei
Url: https://pickandroll.dev/bookerei
*/

body[data-theme="Pastel"] {
    /* GENERAL */
    --app-bg-primary: linear-gradient(to right bottom, #776b5d, #8c8072, #a19688, #b7ad9e, #cdc4b5, #d8cfc1, #e3dbce, #eee6da, #f0e8de, #f1eae2, #f2ece6, #f3eeea) fixed; /*App background*/
    --app-bg-secondary: #EBE3D5; /* Dialog, Offcanvas background*/
    --app-bg-tertiary: #776B5D /* Hover background, text group icon background */;

    --app-text-color-primary: #776B5D; /*Readable on bg-primary*/
    --app-text-color-primary-muted: rgb(60, 42, 33, 0.7); /*Readable on bg-primary, used for labels, descriptions, etc.*/
    --app-text-color-secondary: #474440; /*Readable on bg-secondary*/
    --app-text-color-tertiary: #FFF; /*Readable on bg-tertiary*/

    --app-highlight-color: firebrick;/* Highlight color, used for buttons and links*/
    --app-highlight-color-secondary: white; /* Highlight color, used for selected item*/
    --app-highlight-color-contrast: white;

    --app-link-color: #2c221d; /* Link color*/
    --app-link-hover-color: var(--app-highlight-color); /* Link hover color*/
        /* BUTTONS */
        /* Primary button should be visible on the primary background. */
    --app-button-primary-background: transparent;
    --app-button-primary-background-hover: #776B5D;
    --app-button-primary-text-color: #776B5D;
    --app-button-primary-text-hover: #FFF;

    /* Primary button should be visible on the secondary background. */
    --app-button-secondary-background: none;
    --app-button-secondary-background-hover: #776B5D;
    --app-button-secondary-text-color: #22160d;
    --app-button-secondary-text-hover: #FFF;

    /* SIDEBAR - navigation panel on the left side*/
    --app-sidebar-background: none;
    --app-sidebar-width: 5rem;
    --app-sidebar-border: none;
    --app-sidebar-shadow: none;
    --app-sidebar-menu-item-color: var(--app-text-color-primary-muted);
    --app-sidebar-menu-item-hover-background: rgba(255, 255, 255, 0.1);
    --app-sidebar-menu-item-hover-color: var(--app-text-color-primary);
    --app-sidebar-menu-item-active-color: var(--app-text-color-primary);
    --app-sidebar-menu-item-active-border-color: var(--app-highlight-color);
    --app-sidebar-menu-item-active-background: rgba(255, 255, 255, 0.25);

    /* TOP BAR - top panel with search box*/
    --app-topbar-background: none;
    --app-topbar-shadow: none;
    --app-topbar-border: none;
    --app-topbar-margin-start: 5rem;

    /* SEARCH BOX / autocomplete textbox at the top*/
    --app-search-input-background-color: rgb(255,255,255,0.2);
    --app-search-input-text-color: var(--app-text-color-primary);
    --app-search-input-placeholder-color: var(--app-text-color-primary-muted);
    --app-search-input-border: 0;
    --app-search-input-focus-border: 0;
    --app-search-input-focus-boxshadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    --app-search-results-border-bottom: 3px solid #271D1A;
    --app-search-results-item-background-color: rgba(0, 0, 0, 0.7);
    --app-search-results-item-text-color: white;
    --app-search-results-item-hover-text-color: white;
    --app-search-results-item-active-text-color: white;
    --app-search-results-item-hover-background-color: rgba(0, 0, 0, 0.5);

    /* FRONT CARD */
    --app-frontcard-title-background: #EBE3D5;
    --app-frontcard-title-text-color: #776B5D;
    --app-frontcard-text-color: var(--app-text-color-primary);
    --app-carousel-next-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --app-carousel-prev-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");

    /* TABS - book details page*/
    --app-tab-text-color: var(--app-text-color-secondary);
    --app-tab-active-text-color: var(--app-highlight-color);

    /* TOOLBAR - top position on page book search results*/
    --app-toolbar-button-bg: rgba(0, 0, 0, 0.3);
    --app-toolbar-button-text-color: white;
    --app-toolbar-button-hover-bg: rgba(255, 255, 255, 0.3);
    --app-toolbar-button-disabled-text-color: burlywood;
    --app-toolbar-button-active-bg: rgba(255, 255, 255, 0.25);
    --app-toolbar-button-active-text-color: white;

    /* BOOK SEARCH RESULTS */
    --app-bookresult-list-odditem-background: rgba(0, 0, 0, 0.01);
    --app-bookresult-list-odditem-hover-background: rgba(255, 255, 255, 0.05);
    --app-bookresult-list-title-text-color: var(--app-link-color);
    --app-bookresult-list-author-text-color: var(--app-text-color-primary-muted);
    --app-bookresult-list-date-text-color: var(--app-text-color-primary-muted);

    /* BOOK DETAILS */
    --app-bookdetails-background: var(--app-bg-secondary);
    --app-bookdetails-title-text-color: var(--app-text-color-secondary);
    --app-bookdetails-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --app-bookdetails-border-radius: 0.5rem;
    --app-bookdetails-label-background-color: var(--app-bg-tertiary);
    --app-bookdetails-label-text-color: var(--app-text-color-tertiary);
}

html[dir="rtl"] body[data-theme="Pastel"] {
    --app-bg-primary: linear-gradient(to left bottom, #776b5d, #8c8072, #a19688, #b7ad9e, #cdc4b5, #d8cfc1, #e3dbce, #eee6da, #f0e8de, #f1eae2, #f2ece6, #f3eeea) fixed;
}